page-home {


  ion-content{
    background-image: url('../assets/tap2win-background-test.png');
    background-size: contain;
    background-repeat: no-repeat;

    .scroll-content {
      top: 23px;
    }


    .section-me{
      display: block;

      &.section-me-1{
        height: 21px;
        background-color: #000000;
        .points{
          display: inline-block;
          border-bottom: 2px solid #e32115;
          border-top: 2px solid #e32115;
          width: 32.5%;
          text-align: center;
          color: #ffffff;
          font-family: "Avenir Next";
          font-size: 14px;
          font-weight: 700;
          position: relative;
          .led{
            display: block;
            position: absolute;
            left: 8px;
            width:12px;
            height: 13px;
            top: 3px;

            img{
              width: 100%;
            }
            &.led-red{
             background-image: url('../assets/led-red.png');
            }

            &.led-blue{
              background-image: url('../assets/play-button.png');
            }

            &.led-yellow{
              background-image: url('../assets/ticket-icon-square.png');
            }
          }

          &.points-red{

          }
          &.points-blue{
            border-bottom-color:#0c69ac;;
            border-top-color: #0c69ac;;
          }
          &.points-yellow{
            border-bottom-color:   #ffba37;
            border-top-color:   #ffba37;
          }

        }
      }
      &.section-me-2{}
      &.section-me-3{}
      &.section-me-4{}
      &.section-me-5{}


    }
  }
}

