// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// font faces
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/avenir/AvenirNext-UltraLight.eot');
  src: url('../assets/fonts/avenir/AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/avenir/AvenirNext-UltraLight.woff') format('woff'),
  url('../assets/fonts/avenir/AvenirNext-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
 @font-face {
 	font-family: 'Avenir Next';
 	src: url('../assets/fonts/avenir/AvenirNext-UltraLightItalic.eot');
 	src: url('../assets/fonts/avenir/AvenirNext-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
 		url('../assets/fonts/avenir/AvenirNext-UltraLightItalic.woff') format('woff'),
 		url('../assets/fonts/avenir/AvenirNext-UltraLightItalic.ttf') format('truetype');
 	font-weight: 200;
 	font-style: italic;
 }

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/avenir/AvenirNext-Regular.eot');
  src: url('../assets/fonts/avenir/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/avenir/AvenirNext-Regular.woff') format('woff'),
  url('../assets/fonts/avenir/AvenirNext-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
 @font-face {
 	font-family: 'Avenir Next';
 	src: url('../assets/fonts/avenir/AvenirNext-Italic.eot');
 	src: url('../assets/fonts/avenir/AvenirNext-Italic.eot?#iefix') format('embedded-opentype'),
 		url('../assets/fonts/avenir/AvenirNext-Italic.woff') format('woff'),
 		url('../assets/fonts/avenir/AvenirNext-Italic.ttf') format('truetype');
 	font-weight: 400;
 	font-style: italic;
 }

 @font-face {
 	font-family: 'Avenir Next';
 	src: url('../assets/fonts/avenir/AvenirNext-Medium.eot');
 	src: url('../assets/fonts/avenir/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
 		url('../assets/fonts/avenir/AvenirNext-Medium.woff') format('woff'),
 		url('../assets/fonts/avenir/AvenirNext-Medium.ttf') format('truetype');
 	font-weight: 500;
 	font-style: normal;
 }
 @font-face {
 	font-family: 'Avenir Next';
 	src: url('../assets/fonts/avenir/AvenirNext-MediumItalic.eot');
 	src: url('../assets/fonts/avenir/AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'),
 		url('../assets/fonts/avenir/AvenirNext-MediumItalic.woff') format('woff'),
 		url('../assets/fonts/avenir/AvenirNext-MediumItalic.ttf') format('truetype');
 	font-weight: 500;
 	font-style: italic;
 }

 @font-face {
 	font-family: 'Avenir Next';
 	src: url('../assets/fonts/avenir/AvenirNext-DemiBold.eot');
 	src: url('../assets/fonts/avenir/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
 		url('../assets/fonts/avenir/AvenirNext-DemiBold.woff') format('woff'),
 		url('../assets/fonts/avenir/AvenirNext-DemiBold.ttf') format('truetype');
 	font-weight: 600;
 	font-style: normal;
 }
 @font-face {
 	font-family: 'Avenir Next';
 	src: url('../assets/fonts/avenir/AvenirNext-DemiBoldItalic.eot');
 	src: url('../assets/fonts/avenir/AvenirNext-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
 		url('../assets/fonts/avenir/AvenirNext-DemiBoldItalic.woff') format('woff'),
 		url('../assets/fonts/avenir/AvenirNext-DemiBoldItalic.ttf') format('truetype');
 	font-weight: 600;
 	font-style: italic;
 }

 @font-face {
 	font-family: 'Avenir Next';
 	src: url('../assets/fonts/avenir/AvenirNext-Bold.eot');
 	src: url('../assets/fonts/avenir/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
 		url('../assets/fonts/avenir/AvenirNext-Bold.woff') format('woff'),
 		url('../assets/fonts/avenir/AvenirNext-Bold.ttf') format('truetype');
 	font-weight: 700;
 	font-style: normal;
 }
 @font-face {
 	font-family: 'Avenir Next';
 	src: url('../assets/fonts/avenir/AvenirNext-BoldItalic.eot');
 	src: url('../assets/fonts/avenir/AvenirNext-BoldItalic.eot?#iefix') format('embedded-opentype'),
 		url('../assets/fonts/avenir/AvenirNext-BoldItalic.woff') format('woff'),
 		url('../assets/fonts/avenir/AvenirNext-BoldItalic.ttf') format('truetype');
 	font-weight: 700;
 	font-style: italic;
 }

 @font-face {
 	font-family: 'Avenir Next';
 	src: url('../assets/fonts/avenir/AvenirNext-Heavy.eot');
 	src: url('../assets/fonts/avenir/AvenirNext-Heavy.eot?#iefix') format('embedded-opentype'),
 		url('../assets/fonts/avenir/AvenirNext-Heavy.woff') format('woff'),
 		url('../assets/fonts/avenir/AvenirNext-Heavy.ttf') format('truetype');
 	font-weight: 900;
 	font-style: normal;
 }
 @font-face {
 	font-family: 'Avenir Next';
 	src: url('../assets/fonts/avenir/AvenirNext-HeavyItalic.eot');
 	src: url('../assets/fonts/avenir/AvenirNext-HeavyItalic.eot?#iefix') format('embedded-opentype'),
 		url('../assets/fonts/avenir/AvenirNext-HeavyItalic.woff') format('woff'),
 		url('../assets/fonts/avenir/AvenirNext-HeavyItalic.ttf') format('truetype');
 	font-weight: 900;
 	font-style: italic;
 }














// End of font faces

ion-header.header-me {

  top: 21px;

  &:after{
    content:initial !important;
    background-image:initial !important;
  }

  ion-navbar.toolbar {
    min-height: 41px !important;
    padding: 0 16px;


    .bar-button-default, .bar-button-clear, .bar-button {
      color: rgba(0, 0, 0, 0);
      background-color: transparent;
      background-image: url(../assets/menu-icon.svg);
      background-size: contain;
      background-repeat: no-repeat;
      min-width: 32px;
      min-height: 20px;
      margin: 0;
      position: absolute;
    }

    .toolbar-background {
      background: transparent !important;
    }


    .toolbar-title {
      max-width: 49% ;
      min-width: 155px;
      color: #ffffff ;
      font-family: "Avenir Next" ;
      font-size: 22px ;
      font-weight: 700 ;
      text-transform: uppercase ;
      margin: auto ;
      position: relative;
      .title-text{
        display: inline-block;
        padding-left: 30px;
      }
      .icon-me{
        position: absolute;
        transform: rotate(-55deg);
      }
    }

  }
}

.icon-me{
  width: 25px;
  display: inline-block;
  img{
    width: 100%;
  }
}



.icon-me-store {
  position: absolute;
  right: 17px;
  top: 0;
  width: 42px;
  height: 41px;
}




/* Style for "Ad banner" */
.ads{
  width: 320px;
  height: 46px;
  background-color: #000;
  background-image: url('../assets/2-layers.png');
  position: absolute;
  bottom: 0px;
}

.left, .right {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
